<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.maoyan.loveblindbox.mapper.StickMapper">

    <resultMap id="LoveStickMap" type="com.maoyan.loveblindbox.entity.LoveStick">
        <result column="stick_id" property="stickId"/>
        <result column="publisher_id" property="publisherId"/>
        <result column="receiver_id" property="receiverId"/>
        <result column="publisher_gender" property="publisherGender"/>
        <result column="age" property="age"/>
        <result column="qq" property="qq"/>
        <result column="wechat" property="wechat"/>
        <result column="hobby" property="hobby"/>
        <result column="personality" property="personality"/>
        <result column="introduction" property="introduction"/>
    </resultMap>
    <resultMap id="LoveStickDTOMap" type="com.maoyan.loveblindbox.entity.dto.LoveStickDTO">
        <result column="stick_id" property="stickId"/>
        <result column="publisher_id" property="publisherId"/>
        <result column="receiver_id" property="receiverId"/>
        <result column="publisher_gender" property="publisherGender"/>
        <result column="age" property="age"/>
        <result column="qq" property="qq"/>
        <result column="wechat" property="wechat"/>
        <result column="hobby" property="hobby"/>
        <result column="personality" property="personality"/>
        <result column="introduction" property="introduction"/>
        <association property="publisher" javaType="com.maoyan.loveblindbox.entity.LoveUser">
            <result column="user_id" property="userId"/>
            <result column="username" property="username"/>
            <result column="email" property="email"/>
            <result column="gender" property="gender"/>
            <result column="status" property="status"/>
            <result column="age" property="age"/>
            <result column="qq" property="qq"/>
            <result column="wechat" property="wechat"/>
            <result column="avater" property="avater"/>
            <result column="hobby" property="hobby"/>
            <result column="personality" property="personality"/>
            <result column="introduction" property="introduction"/>
        </association>
        <association property="receiver" javaType="com.maoyan.loveblindbox.entity.LoveUser">
            <result column="user_id" property="userId"/>
            <result column="username" property="username"/>
            <result column="email" property="email"/>
            <result column="gender" property="gender"/>
            <result column="status" property="status"/>
            <result column="age" property="age"/>
            <result column="qq" property="qq"/>
            <result column="wechat" property="wechat"/>
            <result column="avater" property="avater"/>
            <result column="hobby" property="hobby"/>
            <result column="personality" property="personality"/>
            <result column="introduction" property="introduction"/>
        </association>
    </resultMap>

    <insert id="insertStick">
        insert into love_stick (publisher_id)
        values (#{loveStick.publisherId,jdbcType=BIGINT});
    </insert>

    <select id="selectLoveStickById" resultMap="LoveStickMap">
        select * from love_stick where stick_id = #{stickId,jdbcType=BIGINT}
    </select>

    <select id="selectLoveStickDetailById" resultMap="LoveStickDTOMap">
        select love_stick.stick_id,
               love_stick.publisher_id,
               love_stick.receiver_id,
               love_stick.publisher_gender,
               love_stick.age,
               love_stick.qq,
               love_stick.wechat,
               love_stick.hobby,
               love_stick.personality,
               love_stick.introduction,
               publisher.user_id,
               publisher.username,
               publisher.email,
               publisher.gender,
               publisher.status,
               publisher.age,
               publisher.qq,
               publisher.wechat,
               publisher.avater,
               publisher.hobby,
               publisher.personality,
               publisher.introduction,
               receiver.user_id,
               receiver.username,
               receiver.email,
               receiver.gender,
               receiver.status,
               receiver.age,
               receiver.qq,
               receiver.wechat,
               receiver.avater,
               receiver.hobby,
               receiver.personality,
               receiver.introduction
        from love_stick
                 inner join
             love_blindbox.love_user publisher on love_stick.publisher_id = publisher.user_id
                 inner join
             love_user receiver on love_stick.receiver_id = receiver.user_id
        where stick_id = #{stickId,jdbcType=BIGINT};
    </select>

    <select id="BatchSelectLoveStickDetailByReceiverId" resultMap="LoveStickDTOMap">
        select love_stick.stick_id,
               love_stick.publisher_id,
               love_stick.receiver_id,
               love_stick.publisher_gender,
               love_stick.age,
               love_stick.qq,
               love_stick.wechat,
               love_stick.hobby,
               love_stick.personality,
               love_stick.introduction,
               publisher.user_id,
               publisher.username,
               publisher.email,
               publisher.gender,
               publisher.status,
               publisher.age,
               publisher.qq,
               publisher.wechat,
               publisher.avater,
               publisher.hobby,
               publisher.personality,
               publisher.introduction,
               receiver.user_id,
               receiver.username,
               receiver.email,
               receiver.gender,
               receiver.status,
               receiver.age,
               receiver.qq,
               receiver.wechat,
               receiver.avater,
               receiver.hobby,
               receiver.personality,
               receiver.introduction
        from love_stick
                 inner join
             love_blindbox.love_user publisher on love_stick.publisher_id = publisher.user_id
                 inner join
             love_user receiver on love_stick.receiver_id = receiver.user_id
        where receiver_id = #{receiverId,jdbcType=BIGINT}
    </select>

    <update id="updateLoveStick">
        update love_stick
        set receiver_id = #{loveStick.receiverId,jdbcType=BIGINT};
    </update>

    <select id="randomSelectLoveStick" resultMap="LoveStickMap">
        select *
        from love_stick
        where stick_id >= (select floor(max(stick_id) * rand()) from love_stick)
        order by stick_id
        limit 1
    </select>
</mapper>