<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.maoyan.loveblindbox.mapper.StickMapper">
    <resultMap id="LoveStickMap" type="com.maoyan.loveblindbox.entity.LoveStick">
        <result column="stick_id" property="stickId"/>
        <result column="publisher_id" property="publisherId"/>
        <result column="receiver_id" property="receiverId"/>
        <result column="gender" property="gender"/>
        <result column="age" property="age"/>
        <result column="qq" property="qq"/>
        <result column="wechat" property="wechat"/>
        <result column="hobby" property="hobby"/>
        <result column="personality" property="personality"/>
        <result column="introduction" property="introduction"/>
    </resultMap>
    <resultMap id="LoveStickDTOMap" type="com.maoyan.loveblindbox.entity.dto.LoveStickDTO">
        <result column="stick_id" property="stickId"/>
        <result column="publisher_id" property="publisherId"/>
        <result column="receiver_id" property="receiverId"/>
        <result column="gender" property="gender"/>
        <result column="age" property="age"/>
        <result column="qq" property="qq"/>
        <result column="wechat" property="wechat"/>
        <result column="hobby" property="hobby"/>
        <result column="personality" property="personality"/>
        <result column="introduction" property="introduction"/>
        <association property="publisher" javaType="com.maoyan.loveblindbox.entity.LoveUser">
            <result column="user_id" property="userId"/>
            <result column="username" property="username"/>
            <result column="email" property="email"/>
            <result column="status" property="status"/>
            <result column="avater" property="avater"/>
        </association>
        <association property="receiver" javaType="com.maoyan.loveblindbox.entity.LoveUser">
            <result column="r_user_id" property="userId"/>
            <result column="r_username" property="username"/>
            <result column="r_email" property="email"/>
            <result column="r_status" property="status"/>
            <result column="r_avater" property="avater"/>
        </association>
    </resultMap>

    <insert id="insertStick" parameterType="com.maoyan.loveblindbox.entity.LoveStick" useGeneratedKeys="true"
            keyProperty="loveStick.stickId">
        insert into love_stick (publisher_id, receiver_id, gender, age, qq, wechat, hobby, personality, introduction)
        values (#{loveStick.publisherId,jdbcType=BIGINT}, #{loveStick.receiverId,jdbcType=BIGINT},
                #{loveStick.gender,jdbcType=INTEGER},
                #{loveStick.age,jdbcType=INTEGER}, #{loveStick.qq,jdbcType=VARCHAR},
                #{loveStick.wechat,jdbcType=VARCHAR}, #{loveStick.hobby,jdbcType=VARCHAR},
                #{loveStick.personality,jdbcType=VARCHAR},
                #{loveStick.introduction,jdbcType=VARCHAR});
    </insert>

    <select id="selectLoveStickById" resultMap="LoveStickMap">
        select *
        from love_stick
        where stick_id = #{stickId,jdbcType=BIGINT};
    </select>

    <select id="selectLoveStickDetailById" resultMap="LoveStickDTOMap">
        select love_stick.stick_id,
               love_stick.publisher_id,
               love_stick.receiver_id,
               love_stick.gender,
               love_stick.age,
               love_stick.qq,
               love_stick.wechat,
               love_stick.hobby,
               love_stick.personality,
               love_stick.introduction,
               publisher.user_id,
               publisher.username,
               publisher.email,
               publisher.status,
               publisher.avater,
               receiver.user_id  as r_user_id,
               receiver.username as r_username,
               receiver.email    as r_email,
               receiver.status   as r_status,
               receiver.avater   as r_avater
        from love_stick
                 left outer join love_user publisher on publisher.user_id = love_stick.publisher_id
                 left outer join love_user receiver on receiver.user_id = love_stick.receiver_id
        where stick_id = #{stickId,jdbcType=BIGINT}
    </select>

    <select id="BatchSelectLoveStickDetailByReceiverId" resultMap="LoveStickDTOMap">
        select love_stick.stick_id,
               love_stick.publisher_id,
               love_stick.receiver_id,
               love_stick.gender,
               love_stick.age,
               love_stick.qq,
               love_stick.wechat,
               love_stick.hobby,
               love_stick.personality,
               love_stick.introduction,
               publisher.user_id,
               publisher.username,
               publisher.email,
               publisher.status,
               publisher.avater,
               receiver.user_id  as r_user_id,
               receiver.username as r_username,
               receiver.email    as r_email,
               receiver.status   as r_status,
               receiver.avater   as r_avater
        from love_stick
                 left outer join
             love_blindbox.love_user publisher on love_stick.publisher_id = publisher.user_id
                 left join
             love_user receiver on love_stick.receiver_id = receiver.user_id
        where receiver_id = #{receiverId,jdbcType=BIGINT}
    </select>

    <update id="updateLoveStick">
        update love_stick
        set publisher_id = #{loveStick.publisherId,jdbcType=BIGINT},
            receiver_id  = #{loveStick.receiverId,jdbcType=BIGINT},
            gender       = #{loveStick.gender,jdbcType=INTEGER},
            age          = #{loveStick.age,jdbcType=INTEGER},
            qq           = #{loveStick.qq,jdbcType=VARCHAR},
            wechat       = #{loveStick.wechat,jdbcType=VARCHAR},
            hobby        = #{loveStick.hobby,jdbcType=VARCHAR},
            personality  = #{loveStick.personality,jdbcType=VARCHAR},
            introduction = #{loveStick.introduction,jdbcType=VARCHAR}
        where stick_id = #{loveStick.stickId,jdbcType=BIGINT}
    </update>

    <!--随机抽取一个数据-->
    <select id="randomSelectLoveStick" resultMap="LoveStickMap">
        SELECT *
        FROM love_stick
        <where>
                stick_id >= (SELECT FLOOR(1 + RAND() * (SELECT MAX(stick_id) FROM love_stick)))
            <if test="gender != null and gender != 2">
                and gender = #{gender,jdbcType=INTEGER}
            </if>
            and (receiver_id is null
                or receiver_id = 0)
            and publisher_id != #{receiverId,jdbcType=BIGINT}
        </where>
        ORDER BY stick_id
        LIMIT 1;
    </select>

    <delete id="deleteLoveStick">
        delete
        from love_stick
        where stick_id = #{stickId,jdbcType=BIGINT}
    </delete>

    <select id="BatchSelectLoveStickDetailByPublisherId" resultMap="LoveStickDTOMap">
        select love_stick.stick_id,
               love_stick.publisher_id,
               love_stick.receiver_id,
               love_stick.gender,
               love_stick.age,
               love_stick.qq,
               love_stick.wechat,
               love_stick.hobby,
               love_stick.personality,
               love_stick.introduction,
               publisher.user_id,
               publisher.username,
               publisher.email,
               publisher.status,
               publisher.avater,
               receiver.user_id  as r_user_id,
               receiver.username as r_username,
               receiver.email    as r_email,
               receiver.status   as r_status,
               receiver.avater   as r_avater
        from love_stick
                 left outer join
             love_blindbox.love_user publisher on love_stick.publisher_id = publisher.user_id
                 left join
             love_user receiver on love_stick.receiver_id = receiver.user_id
        where publisher_id = #{publisherId,jdbcType=BIGINT}
    </select>

    <select id="countLoveStickByReceiverId" resultType="int">
        select count(stick_id)
        from love_stick
        where receiver_id = #{receiverId,jdbcType=BIGINT};
    </select>
    <select id="countLoveStickByPublisherId" resultType="int">
        select count(stick_id)
        from love_stick
        where publisher_id = #{publisherId,jdbcType=BIGINT};
    </select>

    <select id="countEmptyLoveStickByGender" resultType="int">
        select count(stick_id)
        from love_stick
        where gender = #{gender,jdbcType=INTEGER}
          and receiver_id = 0;
        ;
    </select>
</mapper>